*{
    font-size: 12px;
    width:350px;

}

.main{
    background-color: #15a195;
    color:white;
}


.flex{
    display:flex;
}

.title{
    text-align: center;

}

.subtitle{


}

.input{
    margin-top: 10px;
    margin-bottom:10px;
}

.btn{
    margin-top: 3px;
    margin-bottom:3px;
    background-color: #15a195 !important;
}

.myStyle {
    display:block;
}


#userInfo{
    background-color: #15a195;
    color:white;
    height:fit-content;
}